
.container {
    margin-left: auto;
    margin-right: auto;
    max-width: 1000px;
    border: 1px solid black;
}

.container-frame {
    display: flex;
    flex-flow: row nowrap;
    overflow: scroll hidden;
}

.gallery-control > button:nth-child(1) {
    float: left;
    position: relative;
    left: 0;
    bottom: 205.5px;
}

.gallery-control > button:nth-child(2) {
    float: right;
    position: relative;
    right: 0;
    bottom: 205.5px;
}